body {
  background-color: brown;
}

.container {
  max-width: 500px;
}

input[type='text'],
input[type='text']:focus {
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.todos li {
  background-color: #f48b29;
  height: 50px;
  font-size: 24px;
  opacity: 0.8;
}

.delete {
  cursor: pointer;
  color: crimson;
  opacity: 0.7;
}

.filtered {
  display: none !important;
}
